<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaolin.video.dao.mapper.VideoDetailMapper">

    <resultMap id="BaseResultMap" type="com.xiaolin.video.dao.entity.VideoDetail">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="director" column="director" jdbcType="VARCHAR"/>
            <result property="resource" column="resource" jdbcType="VARCHAR"/>
            <result property="scriptWriter" column="script_writer" jdbcType="VARCHAR"/>
            <result property="leadingActor" column="leading_actor" jdbcType="VARCHAR"/>
            <result property="language" column="language" jdbcType="VARCHAR"/>
            <result property="releaseDate" column="release_date" jdbcType="TIMESTAMP"/>
            <result property="duration" column="duration" jdbcType="INTEGER"/>
            <result property="alias" column="alias" jdbcType="VARCHAR"/>
            <result property="description" column="abstract" jdbcType="VARCHAR"/>
            <result property="deleted" column="deleted" jdbcType="TINYINT"/>
            <result property="version" column="version" jdbcType="BIGINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="createdByUserId" column="created_by_user_id" jdbcType="BIGINT"/>
            <result property="updatedByUserId" column="updated_by_user_id" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,director,resource,
        script_writer,leading_actor,language,
        release_date,duration,alias,
        description,deleted,version,
        create_time,update_time,created_by_user_id,
        updated_by_user_id
    </sql>
</mapper>
