<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaolin.video.dao.mapper.VideoRecordMapper">

    <resultMap id="BaseResultMap" type="com.xiaolin.video.dao.entity.VideoRecord">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="videoId" column="video_id" jdbcType="BIGINT"/>
            <result property="interested" column="interested" jdbcType="TINYINT"/>
            <result property="watched" column="watched" jdbcType="TINYINT"/>
            <result property="score" column="score" jdbcType="DECIMAL"/>
            <result property="comment" column="comment" jdbcType="VARCHAR"/>
            <result property="deleted" column="deleted" jdbcType="TINYINT"/>
            <result property="version" column="version" jdbcType="BIGINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="createdByUserId" column="created_by_user_id" jdbcType="BIGINT"/>
            <result property="updatedByUserId" column="updated_by_user_id" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,video_id,
        interested,watched,score,
        comment,deleted,version,
        create_time,update_time,created_by_user_id,
        updated_by_user_id
    </sql>
</mapper>
